[bumpversion]
current_version = 2.5.1
commit = True
tag = False

[bumpversion:file:packages/splunk_plotly_collection_viz/app.manifest]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:packages/splunk_plotly_collection_viz/default/app.conf]
search = version = {current_version}
replace = version = {new_version}
