/* Formatting for text element*/
@import url('./contrib/css/c3.css');


/* Plotly.js modebar Positioning */
div.modebar-container {
  right: 1% !important;
}

/* Dark Theme Support */
div[id^='modebar'].modebar .modebar-group {
    background-color: transparent !important;
}

/* Resize plot when panel shrinks/expands */
div[id^='scatterplot3dContainer_'] div#scene {
  top: 30px !important;
  height: calc(100% - 100px) !important;
}
